.buttom-wrapper {
    position: absolute;
    left: 35%;
    top: 80%;
    z-index: 999999999999999999999; 
    pointer-events: auto; 
    background-color: #000;
  }
  


.main-button {
  width: 120px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  padding: 0 15px;
  border: 1.2px solid #fff;
  background: transparent;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  }
  
  .main-button:focus {
    background-color: #fff;
    color: #000;
  }
  
  .main-button:hover {
    background-color: #fff;
    color: #000;
  }
  
  .main-button:active {
    background-color: #fff;
    color: #000;
  }