.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 20vh;
}

.header-social {
  align-items: center;
  display: flex;
}

#mixordia-logo {
  height: 50px;
}

#instagram-logo {
  height: 50px;
  margin-right: 10px;
}

#soundcloud-logo {
  height: 50px;
  margin: 0 10px;
}

#ra-logo {
  height: 80px;
}

svg {
  transition: 3s ease-out;
  cursor: pointer;
  fill: #f0f2eb;
}

svg:hover {
  transition: 0.3s ease-in;
  fill: #e21a37;
}