.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 20vh;
}

.header-social {
  align-items: center;
  display: flex;
  gap: 20px;
}

#mixordia-logo {
  height: 50px;
}

#instagram-logo {
  height: 50px;
}

#soundcloud-logo {
  height: 50px;
  margin-left: 10px;
}

#ra-logo {
  height: 80px;
}

svg {
  transition: 3s ease-out;
  cursor: pointer;
  fill: #f0f2eb;
}

svg:hover {
  transition: 0.3s ease-in;
  fill: #e21a37;
}

@media screen and (max-width: 720px) {
  #mixordia-logo {
  height: 30px;
}

#instagram-logo {
  height: 30px;
}

#soundcloud-logo {
  height: 30px;
  margin-left: 5px;
}

#ra-logo {
  height: 50px;
}
}