.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "JetBrains Mono",monospace;
  z-index: 10002; /* above effects & button */
}

.form-container {
  background-color: rgb(222, 222, 222);
  padding: 30px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 10px #000;
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-container input,
.form-container textarea {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.form-container button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.close-button {
  background-color: #ccc;
  margin-top: 10px;
}

.btnWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}