.overlay {
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 1000;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
}

.form-container h2 {
  margin: 40px;
}

.input-group {
  margin: 20px 0;
  position: relative;
}

.input-group label {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 15px;
  font-size: 16px;
  pointer-events: none;
  color: #fff;
  padding: 0 5px;
  transition: .5s;
}

.input-group input {
  width: 360px;
  height: 60px;
  color: #fff;
  font-size: 16px;
  padding: 0 15px;
  border: 1.2px solid #fff;
  background: transparent;
  outline: none;
  border-radius: 5px;
}

.input-group input:focus~label,
.input-group input:valid~label {
  top: 0;
  background-color: #fff;
  color: #000;
  font-size: 16px;
}

.btnWrapper {
  display: flex;
  gap: 50px;
  margin: 30px 0;
}