body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlayWrapper {
    width: 80lvw;
    height: 70lvh;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    contain: content;
    scrollbar-width: 0;
}


.overlay {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 2px 2px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}


.photo-item {
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
    border: 2px solid #000;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.photo-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
